/AdvModule1/jAllenLab1/nbproject/private/
/AdvModule1/jAllenLab1/build/
/AdvModule1/Practice1/nbproject/private/
/AdvModule1/Practice1/build/
/AdvModule1/practice2/nbproject/private/
/AdvModule1/practice2/build/
/AdvModule1/practice3/nbproject/private/
/AdvModule1/practice3/build/
/AdvModule1/practice4/nbproject/private/
/AdvModule1/practice4/build/
/AdvModule1/Practice5/nbproject/private/
/AdvModule1/Practice5/build/
/AdvModule1/Practice6/nbproject/private/
/AdvModule1/Practice6/build/
/AdvModule1/James_Allen_Module1_Mastery/nbproject/private/
/AdvModule1/James_Allen_Module1_Mastery/build/
/AdvModule1/James_Allen_Module1_Practice/nbproject/private/
/AdvModule1/JamesAllenM1/nbproject/private/
/AdvModule1/JamesAllenM1/build/
